<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" 
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Home</title>
   <link rel="stylesheet" href="navbar.css">
   <link rel="stylesheet" href="footer.css">
   <link rel="stylesheet" href="onboarding.css">
</head>
<body>
    <header>
        <nav class="nav-navbar"> 
            <ul>
                <li class="nav_logo"><a href="https://www.greenhouse.io/" id="logo"><img src="https://www.greenhouse.io/assets/svg/logomark.svg" alt="logo"></a> </li>
                <a href="#" class="toggle-button">
                    <span class="bar"> </span>
                    <span class="bar"> </span>
                </a>
               

                <li class="nav-product"><a href="#">Product & solutions</a>
                    <div id="nav-productdrop">
                        <div class="prod">
                            <h5>Products</h5>
                            <a href="#"><p>Recruiting</p></a>
                            <a href="#"><p>Onboarding</p></a>
                            <h5>Segments</h5>
                            <a href="#"><p>Enterprise</p></a>
                            <a href="#"><p>Small to midsize</p></a>
                        </div>
                        <div class="nav-solution">
                            <h5>Solutions</h5>
                            <a href="#"><p>Integrations</p></a>
                            <a href="#"><p>Structured hiring</p></a>
                            <a href="#"><p>Talent sourcing</p></a>
                            <a href="#"><p>Candidate experience</p></a>
                            <a href="#"><p>Diversity, equity & inclusion</p></a>
                            <a href="#"><p>Solutions</p></a>
                        </div>
                    </div>
                </li>
                <li class="nav-resource"><a href="#">Resources</a>
                    <div id="nav-resourcedrop">
                        <div class="nav-resourcefirst">
                            <a href="#"><p>Blog</p></a>
                            <a href="#"><p>Guidance</p></a>
                            <a href="#"><p>Customer stories</p></a>
                            <a href="#"><p>Hiring glossary</p></a>
                        </div>
                        <div class="nav-resourcesecond">
                            <div id="talentbook">
                                <img src="https://sharp.services.greenhouse.io/production/Talent-Makers-book-cover-n.png?auto=format&fit=max&lossless=true&q=90&w=426&s=39652d73de16c7719a700214bce70d443705da7a6050c920b1c5a9cdbad2d60a" alt="book">
                            </div>
                            <div id="bookinfo">
                                <h5>Now available</h5>
                                <p>Talent Makers – The definitive book on great hiring</p>
                                <p>We’ve packed all our insights, strategies and tips into a book that will help you make hiring your superpower.</p>
                                <a href="#"><button id="nav-review">See the nav-reviews</button></a>

                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-about"><a href="#">About us</a>
                    <div id="nav-aboutdrop">
                        <div class="nav-aboutfirst">
                            <a href="#"><p>Mission</p></a>
                            <a href="#"><p>Belonging</p></a>
                            <a href="#"><p>Company</p></a>
                            <a href="#"><p>Careers</p></a>
                            <a href="#"><p>Press & awards</p></a>
                            <a href="#"><p>Contact</p></a>
                            
                        </div>
                        <div class="nav-aboutsecond">
                            <div id="shirt">
                                <img src="https://sharp.services.greenhouse.io/production/Greenhouse-Pride-tshirt-n.jpg?auto=format&fit=max&lossless=true&q=90&w=426&s=de44e24806b388901684135be6acb800917d827f4b3424eade2f1300c44d2177" alt="book">
                            </div>
                            <div id="men">
                                <h5>Greenhouse celebrates Pride</h5>
                                <p>Buy a shirt, help an LGBTQ+ teen</p>
                                <p>We’re shining a spotlight on the LGBTQ+ nav-community with our new Pride t-shirt. 100% of the proceeds are going to support The Trevor Project and the Ali Forney Center.</p>
                                <a href="#"><button id="nav-review">Get your Pride shirt</button></a>

                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-community"><a href="#">Community</a>
                    <div id="nav-communitydrop">
                        <div class="nav-communityfirst">
                            <a href="#"><p>Events</p></a>
                            <a href="#"><p>Open</p></a>
                            <a href="#"><p>Talent Makers</p></a>
                            <a href="#"><p>Newsletter
                            </p></a>
                        </div>
                        <div class="nav-communitysecond">
                            <div id="news">
                                <img src="https://sharp.services.greenhouse.io/production/Man-sitting-on-desk-while-working-on-laptop-with-a-botanical-plant-behind-nav-image-m.png?auto=format&fit=max&lossless=true&q=90&w=426&s=6f990170674a9382daa3a9fc3b920df65d1e9e7d9c7f931d57ec1cc13cfd9762" alt="news">
                            </div>
                            <div id="article">
                                <h5>Webinar series</h5>
                                <p>Reporting made simple 4: The value of clean data</p>
                                <p>In this webinar, you’ll gain the knowledge to ensure your data stays clean and consistent, so you can measure, iterate and improve every part of your team’s hiring process.</p>
                                <a href="#"><button id="watch">Watch on demand</button></a>

                            </div>
                        </div>
                    </div>
                </li>
                <div class="bttn">
                    <li class="nav-sign_in"><a href="#"><button id="sign">Sign in</button></a></li>
                    <li class="nav-demo"><a href="#"><button id="nav-Demo">Request a demo</button></a></li>
                    <li class="nav-search" ><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                </div>
            
            </ul>
        </nav>
    </header>
    <!-- anjali onbordaing -->
    
   <!-- homepage -->
      <!-- anjali onbordaing -->
    
    <!-- anjali -->
    
<footer class="footer">
    <div class="footer-container ">
        <div class="footer-main">
           
             
             <div class="footer-box">
                <h4>Products</h4>
                <ul>
                    <li>
                     <a href="#"> Recruiting</a>
                    </li>
                    <li>
                     <a href="#">Onboarding</a>
                    </li> 
                    <li>
                     <a href="#">Pricing</a>
                    </li>  
                   
                  </ul>
             </div>
             <div class="footer-box">
                <h4>Resources</h4>
                <ul>
                    <li>
                     <a href="#">Blog</a>
                    </li>
                    <li>
                     <a href="#">Guidance</a>
                    </li> 
                    <li>
                     <a href="#">Customer stories</a>
    
                    </li>  
                    <li>
                        <a href="#">Hiring glossary</a>
                        
                       </li>  
                       <li>
                        <a href="#">Support</a>
                        
                       </li>  <li>
                        <a href="#">Developer resources</a>
                        
                       </li>  
                   
                  </ul>
             </div>
             <div class="footer-box">
                <h4>About us</h4>
                <ul>
                    <li>
                     <a href="#"> Mission</a>
                    </li>
                    <li>
                     <a href="#">Belonging</a>
                    </li> 
                    <li>
                     <a href="#">Company</a>
                    </li> 
                    <li>
                        <a href="#">Careers</a>
                       </li>  
                       <li>
                        <a href="#">Press & awards</a>
                       </li>  
                       <li>
                        <a href="#">Contact</a>
                       </li>   
                   
                  </ul>
             </div>
             <div class="footer-box">
                <h4>Segements</h4>
                <ul>
                    <li>
                     <a href="#">Enterprise</a>
                    </li>
                    <li>
                     <a href="#">Small to midsize</a>
                    </li> 
                    
                   
                  </ul>
             </div>
             <div class="footer-box">
               <h4>Solutions</h4>
                <ul>
                    <li>
                     <a href="#">Integrations</a>
                    </li>
                    <li>
                     <a href="#">Structured hiring</a>
                    </li> 
                    <li>
                     <a href="#">Talent sourcing</a>
                    </li>  
                    <li>
                        <a href="#"> Candidate experience</a>
                       </li>  
                       <li>
                        <a href="#">Diversity,equity & inclusion</a>
                       </li>  
                       <li>
                        <a href="#">More solutions</a>
                       </li>  
                          
                  </ul>
             </div> 
             <div class="footer-box">
                <h4>Platform</h4>
                <ul>
                    <li>
                     <a href="#"> Recruiting</a>
                    </li>
                    <li>
                     <a href="#">Onboarding</a>
                    </li> 
                    <li>
                     <a href="#">Pricing</a>
                    </li>  
                   
                  </ul>
             </div>
             <div class="footer-box">
                <h4>Community</h4>
                <ul>
                    <li>
                     <a href="#"> Recruiting</a>
                    </li>
                    <li>
                     <a href="#">Onboarding</a>
                    </li> 
                    <li>
                     <a href="#">Pricing</a>
                    </li>  
                   
                  </ul>
             </div>
        </div>
    <div class="footer-bottom">
    
    <div class="footer-left">
        <h4>Modern Recruiter newsletter</h4>
        <h3>Our bi-weekly newsletter full of inspiration, podcasts, trends and news.</h3>
        <h3 class="add">Email address</h3>
        <input><br>
        <button>Subscribe</button>
    </div>
    <div class="footer-left">
    <p>Choose your language</p>
    <!-- <button>English (US)</button> -->
    <button>English(US)</button>
    
    </div>
    
    </div>
    
    
    <div class="cookies">
        <div class="footer-icon">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
         </div>
    <div>
        <p>©2022 Greenhouse Software, Inc.<br>
            “Hire for what’s next” and “Greenhouse Talent Makers” are trademarks of Greenhouse Software.</p>
    </div>
    
    <div>
    <a href="#">Cookies preferences</a>
    </div>
    <div><a href="#">Privacy policy</a></div>
    <div><a href="#">Terms of service</a></div>
    </div>
    
    </div>
    
    </footer>
    
       </div>
    <!-- anjali -->
</body>
</html>
<script src="./navbar.js">
   
 
</script>