#page1{
    width: 100%;
    height: 680px;
    display: flex;
    border: 1px solid red;
}
#pg11{
    width: 50%;
    border: 1px solid black;
    height: 100%
    
}
#pg12{
    width: 50%;
    
    border: 1px solid blue;
    height: 100%    
}
.img12>img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.img12{
    height: 100%;
}
#txt1>p:first-child {
 font-size: 15px;
 font-weight: 400;
 font-family: sans-serif;
 color: #008561;  
}
#txt1>p:nth-child(2){
    font-size: 70px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #15372c;
    margin-top: 10px;  
    margin-bottom: 20px;
   }
   #txt1>p:last-child {
    font-size: 19px;
    font-weight: 400;
    color: #15372c;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 32px;
    word-spacing: 8px;
    text-align: justify;
    width: 92%;
   }
#txt1{
  width: 75%;
  margin: auto;
  margin-top: 50px; 
}
#txt1>button {
    border-radius: 18px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    width: 30%;
    margin-top: 30px;
    background-color: #008561;
    border: none;
}
#page2{
    width: 100%;
    height: 910px;
    border: 1px solid red;
    display: flex;
}
#pg21{
    width: 50%;
    border: 1px solid black;
    height: 100%    
}
.img21>img{
    width: 100%;
}
#pg22{
    width: 50%;
    
    border: 1px solid blue;
    height: 100% 
}
#txt2>p:first-child{
    font-size: 46px;
    font-weight: 300;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #15372c;
    margin-top: 50px;  
    margin-bottom: 20px;
   }
   #txt2{
    width: 75%;
    margin: auto;
    margin-top: 270px; 
    margin-left: 120px;
  }
  #txt2>p:nth-child(2) {
    font-size: 19px;
    font-weight: 400;
    color: #15372c;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 32px;
    word-spacing: 2px;
    text-align: left;
    width: 85%
   }
   #txt2>button {
    border-radius: 18px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    width: 30%;
    margin-top: 30px;
    background-color: #008561;
    border: none;
}
#page3{
    width: 100%;
    height: 850px;
    border: 1px solid red;
    display: flex;
}
#pg31{
    width: 50%;
    border: 1px solid black;
    height: 100%
    
}
#pg32{
    width: 50%;
    
    border: 1px solid blue;
    height: 100%
    
}
#page4{
    width: 100%;
    height: 570px;
    border: 1px solid red;
    display: flex;
}
#pg41{
    width: 50%;
    border: 1px solid black;
    height: 100%
    
}
#pg42{
    width: 50%;
    
    border: 1px solid blue;
    height: 100%
    
}
#page5{
    width: 100%;
    height: 370px;
    border: 1px solid red;
    display: flex;
}
#pg51{
    width: 50%;
    border: 1px solid black;
    height: 100%
    
}
#pg52{
    width: 50%;
    
    border: 1px solid blue;
    height: 100%
    
}
#page6{
    width: 100%;
    height: 540px;
    border: 1px solid red;
    display: flex;
}
#pg61{
    width: 50%;
    border: 1px solid black;
    height: 100%
    
}
#pg62{
    width: 50%;
    
    border: 1px solid blue;
    height: 100%
    
}
#page7{
    width: 100%;
    height: 800px;
    border: 1px solid red;
    display: flex;
}
#pg71{
    width: 50%;
    border: 1px solid black;
    height: 100%
    
}
#pg72{
    width: 50%;
    
    border: 1px solid blue;
    height: 100%
    
}
#page8{
    width: 100%;
    height: 370px;
    border: 1px solid red;
    display: flex;
}
#pg81{
    width: 50%;
    border: 1px solid black;
    height: 100%
    
}
#pg82{
    width: 50%;
    
    border: 1px solid blue;
    height: 100%
    
}
#page9{
    width: 100%;
    height: 470px;
    border: 1px solid red;
    display: flex;
}
#pg91{
    width: 50%;
    border: 1px solid black;
    height: 100%
    
}
#pg92{
    width: 50%;
    
    border: 1px solid blue;
    height: 100%
    
}
#page10{
    width: 100%;
    height: 850px;
    border: 1px solid red;
    display: flex;
}
#pg101{
    width: 50%;
    border: 1px solid black;
    height: 100%
    
}
#pg102{
    width: 50%;
    
    border: 1px solid blue;
    height: 100%
    
}
#page11{
    width: 100%;
    height: 530px;
    border: 1px solid black;
    display: flex;
}