.GreenHouseBlog {
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
  }
  .container {
    display: flex;
    width: 100%;
    margin: auto;
    /* border: 2px solid blue; */

  }
  .contentpart {
    width: 50%;
    height: 870px;
    padding: auto;
    margin: auto;
    margin-right: 2px;
    /* border: 1px solid black; */
    vertical-align: middle;
  }
  .child {
    width: 500px;
    height: 300px;
    margin: auto;
    margin: 320px 100px;
    /* border: 1px solid black; */
  }
  .child p {
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    margin: auto;
    line-height: 24px;
    font-family: 'Untitled Sans', Arial, Helvetica, sans-serif;
    color: #008561;
  }
  .child :nth-child(2) {
    font-size: 70px;
    font-weight: 400;
    width: 100%;
    line-height: 74px;
    font-family: 'Untitled Serif', Georgia, serif;
    color: #15372c;
    margin: auto;
    margin: 1px 0px;
  }
  .child :last-child {
    font-size: 17px;
    width: 100%;
    font-weight: 400;
    line-height: 27px;
    margin: auto;
    font-family: 'Untitled Sans', Arial, Helvetica, sans-serif;
    color: #008561;
  }
  .imagepart {
    width: 100%;
    height: 870px;
    margin: auto;
    /* border: 1px solid black;  */
  }
  .imagepart > img {
    width: 100%;
    height: 100%;
    margin:auto;
  }
  .allArticles {
    width: 100%;
    height: 200px;
    margin: auto;
    margin-top: 100px;
    /* border:1px solid black;   */
  }
  .article {
    width: 1150px;
    height: 80px;
    margin: auto;
    margin: 0px 95px;
    /* border:1px solid black; */
  }
  .article p {
    font-size: 70px;
    margin: auto;
    font-weight: 400px;
    line-height: 74px;
    font-family: 'Untitled Serif', Georgia, serif;
    color: #15372c;
  }
  .selectfilter {
    width: 1150px;
    height: 80px;
    margin:auto;
    margin: 36px 95px 0px 95px;

    /* border:1px solid black; */
    display: flex;
  }
  .filter {
    width: 250px;
    margin: auto;
    /* float: left; */
    margin-left: 15px;
    /* border:1px solid black; */
  }
  .filter select {
    padding: 15px 55px;
    margin: auto;
    margin-top: 13px;
    border-radius: 15px;
  }
  .applyfilter {
    display: flex;
    width: 230px;
    height: 52%;
    margin: auto;
    margin-right: 0px;
    /* margin-top: 37px; */
    /* border:1px solid black; */
  }
  #filterbtn {
    display: flex;
  }
  label {
    font-size: 15px;
    margin: auto;
    font-weight: 400px;
    line-height: 15px;
    font-family: 'Untitled Sans', Arial, Helvetica, sans-serif;
    color: #15372c;
  }
  #filterbtn button {
    margin: auto;
    background-color: #008561;
    padding: 14px 35px;
    border-radius: 15px;
    border-color: #d2d2d2;
    border: none;
    color: white;
  }
  #filterbtn :last-child p {
    margin: auto;
    margin-left: 49px;
    margin-top: 10px;
    font-size: 16px;
    color: #008561;
    text-decoration: underline;
  }
  @media screen and (max-width:800px) 
  {
    .container
    {
      display:block;
      margin:auto 
    }
    .allArticles
    {
      display: block;
    }
    .selectfilter
    {
     display: block;
    }
    .applyfilter
    {
      display: block;
    }
    .main
    {
      display: block;
    }
    

  }
  .data {
    width: 100%;
    height: 400px;
    margin:100px 0px;
    padding-left: 100px;
    text-decoration: none;
    
    /* border: 1px solid black; */
  }
  a
  {
    text-decoration: none;
    font-family: "Untitled Sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #15372c;
    font-weight: 400px;
  }
  .ddiv {
    width: 90%;
    color: #008561;
    /* border: 2px solid green; */
  }
  .main {
    display: flex;
     /* border: 2px solid green; */


  }
  .imgg {
    width: 80%;
    padding-left: 30px;
    padding-bottom: 30px;
    /* margin-left: 400px; */
    /* border: 2px solid green; */
  }
  #Av {
    margin-left: 120px;
    width: 50%;
    /* border: 2px solid green; */
  }